<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <h1>📅 Calendar Tracker</h1>
</head>
<body>
    <table class="calendar">
        <tr>
            <th>Mo</th><th>Tu</th><th>We</th><th>Th</th><th>Fr</th><th>Sa</th><th>Su</th>
        </tr>
        {% for week in calendar %}
        <tr>
            {% for day in week %}
            {% if day %}
                <td style="color: {{ day.color }}">{{ day.day }}</td>
            {% else %}
                <td></td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h2>To do:</h2>
    <ul id="assessmentList">
        {% for a in assessments %}
            <li>{{ a.name }} - {{ a.date }} - {{ a.reminder }}<button onclick="deleteAssessment('{{ a.date }}')">❌</button></li>
        {% endfor %}
    </ul>

    <h2>Add Assessment</h2>
    <form id="addForm">
        <input type="text" id="name" placeholder="Assessment Name" required>
        <input type="text" id="date" placeholder="DD-MM-YYYY" required>
        <input type="text" id="reminder" placeholder="Do math hw" required>
        <button type="submit">Add</button>
    </form>

    <button onclick="deleteAll()">❌ Delete All</button>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
